<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/head" %>
    <style>
      .modal-box {
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
      .modal-close-animation {
        transform: scale(0.8);
        opacity: 0;
      }
    </style>
  </head>
  <body data-controller="theme"
        data-theme-target="body"
        class="relative min-h-screen dbg-gray-50 ark:bg-dark-50">

    <%= render "layouts/header" %>
    <%= render "layouts/modal" %>

    <%= yield %>

    <%= render "layouts/scripts" %>
  </body>
</html>